.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  margin: 24px;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 0 8px 4px lightgray;
  border-radius: 24px;
}

.start_button {
  background-color: teal;
  color: #fff;
  font-weight: bold;
  padding: 16px;
  margin: 32px auto;
  display: block;
}

.start_button:hover {
  opacity: 0.5;
}

.title {
  margin: 0px;
}
